@use '../../../common/styles/variables' as vars;
@use '../../../common/styles/mixins' as mix;

.message-section {
    background-color: vars.$color-secondary-100;
    padding: 5rem 0;

    @include mix.respondToMin('xs') {
        padding: 6rem 0;
    }

    @include mix.respondToMin('sm') {
        padding: 8rem 0;
    }

    @include mix.respondToMin('md') {
        padding: 12rem 0;
    }

    @include mix.respondToMin('lg') {
        padding: 15rem 0;
    }

    &__header {
        margin-bottom: -1rem;
    }

    &__container {
        width: 90%;
        margin: 0 auto;

        @include mix.respondToMin('xs') {
            width: 85%;
        }

        @include mix.respondToMin('sm') {
            width: 75%;
        }

        @include mix.respondToMin('lg') {
            width: 50%;
        }
    }

    &__text {
        text-align: center;
        font-family: vars.$font-serif;
        font-size: 1.2rem;

        @include mix.respondToMin('sm') {
            font-size: 1.4rem;
        }

        @include mix.respondToMin('md') {
            font-size: 1.8rem;
        }

        @include mix.respondToMin('lg') {
            font-size: 2.2rem;
        }
    }
}